{{!
SPDX-FileCopyrightText: 2024 Shun Sakai

SPDX-License-Identifier: CC0-1.0
}}

<footer class="footer">
  <p>&copy; 2024 Shun Sakai &middot;
    <a
      href="https://creativecommons.org/publicdomain/zero/1.0/"
      target="_blank"
    >CC0 1.0</a></p>
  <p>Powered by
    <a href="https://antora.org/" target="_blank">Antora</a>
    &amp;
    <a href="https://gitlab.com/antora/antora-ui-default" target="_blank">Antora
      Default UI</a></p>
</footer>